.vc_btn3-container {
  .vc_btn3 {
    &.vc_btn3-shape-round {
      @include border-radius(3em);
    }
    &.vc_btn3-size-md {
      padding: 15px 30px;
      font-size: 11px;
      font-weight: bold;
      line-height: 24px;
      min-width: 180px;
    }
  }
}
.btn{
  color: #fff;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  padding: 12px 40px;
  transition: all 300ms ease;
  line-height: 30px;
  text-align: center;
  // For VC styling
  &.btn-style-outline{
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    line-height: 28px;
    &.btn-brw-2{
      border-width: 2px;
      line-height: 26px;
    }
    &.btn-brw-3{
      border-width: 3px;
      line-height: 24px;
    }
  }

  &.btn-shape-rounded{
    @include border-radius(5px);
  }
  &.btn-shape-round{
    @include border-radius(2.5em);
  }
  &.btn-size-lg{
    padding: 12px 50px;
  }
  &.btn-size-md{
    @media (min-width: 800px) {
      min-width: 180px;
      padding-left: 45px;
      padding-right: 45px;
    }
  }
  &.btn-size-sm{
    padding: 10px 30px;
    min-width: 160px;
  }
  &.btn-size-xs{
    padding: 5px 20px;
  }
  &.btn-style-outline-bottom{
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    padding: 0;
  }
}

button.btn{
  &.btn-brw-0{
    border: none;
  }
  &.btn-brw-1{
    border-width: 1px;
    border-style: solid;
  }
  &.btn-brw-3{
    border-width: 2px;
    border-style: solid;
  }
  &.btn-brw-3{
    border-width: 3px;
    border-style: solid;
  }
}

.btn-wrapper{
  &.btn-align-left{
    text-align: left;
    display: inline-block;
  }
  &.btn-align-right{
    text-align: right;
  }
  &.btn-align-center{
    text-align: center;
  }
  &.btn-align-inline {
    display: inline-block;
  }
}
.widget_shopping_cart_content .button,
.woocommerce-MyAccount-content form .button,
.lost_reset_password .button,
form.register .button,
.checkout_coupon .button,
.woocomerce-form .button{
  color: #fff;
  font-size: 14px;
}

.shop_table.cart td.actions .button{
  height: 54px;
}

.place-order .button,
.wc-proceed-to-checkout .button{
  font-size: 14px;
  display: block;
  cursor: pointer;
  padding: 20px 30px;
  transition: all 300ms ease;
  width: 100%;
  border-width: 0;
}

.widget_shopping_cart_content .button{
  display: inline-block;
  padding: 9px 25px;
  margin: 0 10px 0 0;
  + .button{
    margin-right: 0;
  }
}

.widget_price_filter .button{
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  transition: all 300ms ease;
  border: none;
  font-size: 13px;
  font-weight: 300;
}
.btn.btn-outline-bigger {
  border-width: 3px;
  width: 100%;
  max-width: 520px;
  font-size: 24px;
  padding: 30px;
  letter-spacing: 3px;
}
a.btn-in-message {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid;
  vertical-align: middle;
  line-height: 1;
  display: inline-block;
}

.vc_btn3.vc_btn3-color-black.vc_btn3-style-3d {
  box-shadow: none !important;
  padding: 0;
  border: none;
}
.vc_btn3.vc_btn3-color-black.vc_btn3-style-3d span{
  width: 250px;
  height: 70px;
  line-height: 70px;
  display: block;
  background-color: #232324;
  color: #fff;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

.vc_btn3.vc_btn3-color-black.vc_btn3-style-3d:before {
  content: '';
  background-image: -moz-linear-gradient( 0deg, rgb(228,117,161) 0%, rgb(56,81,231) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(228,117,161) 0%, rgb(56,81,231) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(228,117,161) 0%, rgb(56,81,231) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all .2s ease-in-out;
}

.vc_btn3.vc_btn3-color-black.vc_btn3-style-3d:hover:before {
  left: 10px;
  top: 10px;
}

.vc_btn3.vc_btn3-color-black.vc_btn3-style-3d:focus, .vc_btn3.vc_btn3-color-black.vc_btn3-style-3d:hover {
  top: 0 !important;
  box-shadow: none !important;
}


.btn.btn--biggest {
  width: 100%;
  font-size: 30px;
  padding: 1.9em;
  font-weight: 600;
}

/** Responsive **/

@media (max-width: 1500px) {

}

@media (max-width: 1199px) {
  .vc_btn3.vc_btn3-color-black.vc_btn3-style-3d span {
    width: 200px;
    height: 50px;
    line-height: 50px;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 800px) {

}

@media (max-width: 767px) {

}