.la_testimonials.grid-space-default{
  .testimonial_item{
    margin-bottom: 30px;
  }
}

.testimonial_item{
  .entry-title{
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px;
  }
  .testimonial_item--role{
    font-size: 12px;
    margin: 0;
  }
  .loop__item__thumbnail--bkg{
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    @include border-radius(50%);
  }
}

.la_testimonials--style-1{
  .loop__item__inner{
    background-color: #fff;
    padding: 30px;
  }
  .loop__item__inner2{
    position: relative;
    height: auto;
  }
  .loop__item__thumbnail{
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: -5px;
    right: -5px;
  }
  .loop__item__desc{
    font-size: 1.2857142857em;
    line-height: 1.7;
    @extend %text-color-secondary;
    @extend %highlight-font-family;
  }
  .loop__item__info2{
    width: calc( 100% - 100px);
    width: -webkit-calc( 100% - 100px);
    min-height: 70px;
    padding-top: 15px;
  }
  .testimonial_item--role{
    font-size: inherit;
    @extend %highlight-font-family;
  }
  .loop__item__title{
    .entry-title{
      font-weight: bold;
      text-transform: uppercase;
      font-size: inherit;
    }
  }
  .loop__item__meta{
    margin-bottom: 0;
  }
}

.la_testimonials--style-2{
  text-align: center;
  .testimonial_item{
    @extend %text-color-secondary;
  }
  .loop__item__desc{
    font-size: 30px;
    line-height: 1.1111;
    margin-bottom: 30px;
    @extend %three-font-family;
  }
  .loop__item__thumbnail,
  .item--rating{
    display: none;
  }
  .entry-title{
    @extend %text-color-primary;
  }

}
.la_testimonials--style-3{
  text-align: center;
  .loop__item__thumbnail{
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto 15px;
    @include border-radius(50%);
  }
  .entry-title{
    @extend %text-color-primary;
  }
  .loop__item__desc{
    font-size: 36px;
    line-height: normal;
    margin-bottom: 30px;
    @extend %three-font-family;
    @extend %text-color-secondary;
  }
}
.la_testimonials--style-4{
  text-align: center;
  .testimonial_item{
    font-size: 12px;
  }
  .loop__item__desc{
    font-size: 14px;
    line-height: normal;
    margin: 18px auto 13px;
    @extend %text-color-secondary;
    @extend %three-font-family;
  }
  .item--rating{
    display: none;
  }
  .loop__item__thumbnail{
    width: 138px;
    display: block;
    min-height: 1px;
    overflow: visible;
    margin: 0 auto;
  }
  .entry-title{
    font: inherit;
    margin: 0;
    color: inherit;
  }
  .loop__item__meta,
  .loop__item__title{
    display: inline-block;
    margin: 0;
  }

  .testimonial_item--role{
    font: inherit;
    &:before{
      content: "\f111";
      font-family: FontAwesome;
      font-size: 4px;
      vertical-align: middle;
      padding-left: 5px;
      padding-right: 10px;
    }
  }

}
.la_testimonials--style-5{
  .loop__item__desc{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
    @extend %three-font-family;
  }
  .loop__item__thumbnail,
  .item--rating{
    display: none;
  }
  .entry-title{
    font: inherit;
    margin: 0;
    color: inherit;
  }
  .loop__item__meta,
  .loop__item__title{
    display: inline-block;
    margin: 0;
  }

  .testimonial_item--role{
    font: inherit;
    &:before{
      content: "\f111";
      font-family: FontAwesome;
      font-size: 6px;
      vertical-align: middle;
      padding-left: 5px;
      padding-right: 10px;
    }
  }
}

.la_testimonials--style-6{
  .item--rating{
    display: none;
  }
  .loop__item__inner{
    border: 1px solid #e6e6e6;
    padding: 40px;
    margin-top: 40px;
    overflow: visible;
    text-align: center;
  }
  .loop__item__thumbnail{
    width: 80px;
    min-height: 1px;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -40px;
    top: -40px;
  }
  .loop__item__desc{
    line-height: inherit;
    margin-top: 20px;
    margin-bottom: 15px;
    &:after{
      content: '';
      width: 30px;
      height: 3px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      @include linear-gradient(to right, #e175a3 0%, #3a51e6 100%);
    }
  }
  .loop__item__meta{
    margin-bottom: 0;
  }
}

.la_testimonials--style-7 {
  .loop__item__inner{
    @extend %text-color-secondary;
    padding: 40px;
    background-color: #fff;
    @include box-shadow(0px 0px 40px 0px rgba(41, 44, 58, 0.09));
  }
  .loop__item__info2{
    padding-left: 80px;
    position: relative;
    margin-bottom: 10px;
  }
  .loop__item__thumbnail{
    width: 55px;
    min-height: 1px;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    margin-top: -27px;
  }
  .loop__item__desc{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 40px;
    @extend %three-font-family;
  }
  .entry-title{
    font: inherit;
    margin: 0;
    color: inherit;
  }
  .loop__item__title{
    display: inline-block;
    margin: 0;
  }
}

.la_testimonials--style-8{
  .loop__item__thumbnail{
    display: none;
  }
  .loop__item__inner{
    padding-top: 40px;
    background: url(assets/images/quote-blue.png) no-repeat 0 0;
  }
  .loop__item__desc{
    font-size: 24px;
    line-height: 2;
    font-style: italic;
  }
  .loop__item__title{
    .entry-title{
      display: inline-block;
      margin: 0 10px 0 0;
      line-height: 20px;
    }
    .testimonial_item--role{
        display: inline-block;
      line-height: 20px;
    }
  }
}
.la_testimonials--style-9{
  .loop__item__inner2{
    padding-left: 150px;
    position: relative;
    min-height: 150px;
    @extend %text-color-secondary;
  }
  .loop__item__thumbnail{
    position: absolute;
    left: 0;
    top: 5px;
    width: 100px;
    height: 100px;
  }
  .loop__item__desc{
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 10px;
    @extend %three-font-family;
  }
  .star-rating{
    font-size: 16px;
    width: 102px
  }
  .loop__item__title{
    font-size: 12px;
    text-transform: uppercase;
  }
  .testimonial_item--role,
  .entry-title{
    display: inline-block;
    margin: 0;
    font: inherit;
    color: inherit;
  }

  .testimonial_item--role{
    &:before{
      content: "\f111";
      font-family: FontAwesome;
      font-size: 5px;
      vertical-align: middle;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
.la_testimonials--style-10{
  .loop__item__inner2{
    text-align: center;
    @extend %text-color-secondary;
  }
  .loop__item__thumbnail{
    display: none;
  }
  .loop__item__desc{
    font-size: 1.125em;
    line-height: 2;
    margin-bottom: 15px;
  }
  .star-rating{
    font-size: 16px;
    width: 102px
  }
  .entry-title {
    font-size: 1.5em;
    font-weight: normal;
  }
}

/** Responsive **/

@media (max-width: 1500px) {
  .la_testimonials--style-2 .loop__item__desc{
    font-size: 26px;
    line-height: 1.3;
  }
  .la_testimonials--style-3 .loop__item__desc{
    font-size: 30px;
  }
  .la_testimonials--style-4 .loop__item__thumbnail {
    width: 140px;
  }
  .la_testimonials--style-8 .loop__item__desc,
  .la_testimonials--style-7 .loop__item__desc,
  .la_testimonials--style-5 .loop__item__desc,
  .la_testimonials--style-4 .loop__item__desc{
    font-size: 20px;
  }
}

@media (max-width: 1199px) {
  .la_testimonials--style-10 .entry-title{
    font-size: 1.3em;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 800px) {
  .la_testimonials--style-3 .loop__item__desc,
  .la_testimonials--style-2 .loop__item__desc{
    font-size: 22px;
  }
  .la_testimonials--style-4 .loop__item__thumbnail{
    width: 100px;
  }
  .la_testimonials--style-9 .loop__item__desc,
  .la_testimonials--style-8 .loop__item__desc,
  .la_testimonials--style-7 .loop__item__desc,
  .la_testimonials--style-5 .loop__item__desc,
  .la_testimonials--style-4 .loop__item__desc{
    font-size: 18px;
  }
  .la_testimonials--style-8 .loop__item__desc{
    line-height: 1.875;
  }
  .la_testimonials--style-9 .loop__item__inner2{
    padding-left: 110px;
  }
  .la_testimonials--style-9 .loop__item__thumbnail {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 767px) {
  .la_testimonials--style-1 .loop__item__inner {
    padding: 20px;
  }
  .la_testimonials--style-6 .loop__item__inner {
    padding: 35px 20px 20px;
  }
  .la_testimonials--style-7 .loop__item__inner {
    padding: 25px;
  }
  .la_testimonials--style-9 .loop__item__inner2{
    padding: 0;
  }
  .la_testimonials--style-9 .loop__item__thumbnail {
    position: static;
    margin-bottom: 10px;
  }
}

