.la-separator{
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  .la-line{
    display: block;
    max-width: 100%;
    width: 100px;
    .text-center & {
      margin-left: auto;
      margin-right: auto;
    }
    .text-right & {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
.la-headings{
  margin-bottom: 15px;
  background:{
    position: top center;
    repeat: no-repeat;
  }
  .heading-tag{
    margin: 0;
    padding-bottom: 5px;
  }
  p.heading-tag,
  div.heading-tag{
    padding-bottom: 0;
  }
  .la-separator{
    margin-top: 20px;
  }
  .la-line{
    border-style: solid;
    border-width: 1px;
    width: 30px;
  }
  &.text-inline{
    .heading-tag,
    .subheading-tag{
      display: inline-block;
      margin: 0;
      vertical-align: middle;
    }
  }
  .heading-with-line + .subheading-tag {
    margin-top: 20px;
  }
}
.spacer-position-separator{
  .heading-with-line,
  .heading-with-line .subheading-tag,
  .la-separator,
  .heading-tag{
    display: inline-block;
    vertical-align: middle;
  }
  .heading-with-line .subheading-tag,
  .heading-tag{
    margin: 0 20px;
  }
  &.sp_at-left{
    .heading-with-line{
      .heading-tag{
        margin-right: 0;
        + .la-separator{
          display: none;
        }
      }
    }
  }
  &.sp_at-right{
    .heading-with-line{
      .heading-tag {
        margin-left: 0;
      }
      .la-separator:first-child{
        display: none;
      }
    }
  }
}
.subheading-tag sup,
.subheading-tag sub {
  font-size: 100%;
}


.la-headings.spacer-position-middle .la-separator{
  margin-top: 15px;
  margin-bottom: 15px;
}

.vc_custom_heading{
  a:hover{
    opacity: 1 !important;
  }
}

.vc_custom_heading.heading__viewall a{
  text-decoration: underline;
  @extend %text-color-secondary;
  &:hover,
  &:focus{
    @extend %text-color-primary;
    text-decoration: none;
  }
}
.vc_custom_heading.heading__viewall2{
  font-weight: 600;
  a{
    text-decoration: underline;
    @extend %text-color-primary;
    &:hover,
    &:focus{
      @extend %text-color-secondary;
      text-decoration: none;
    }
  }
}
.vc_custom_heading.heading__shopnow{
  a {
    position: relative;
    max-width: 94px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-align: center;
    line-height: 1.2;
    @extend %text-color-secondary;
    &:before {
      content: '';
      border-top: 2px solid;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 1em;
      @include single-transition();
    }
    &:hover,
    &:focus{
      @extend %text-color-primary;
      text-decoration: none;
    }
    &:hover{
      &:before{
        bottom: 0;
      }
    }
  }
}

.vc_custom_heading.m9__heading{
  font-weight: bold;
  margin: 0;
  line-height: 1.15;
  font-size: 130px;
  text-shadow: 0 2px 15px rgba(72, 72, 72, 0.5);
}
.vc_custom_heading.m9__heading_btn{
  font-weight: 600;
  border-bottom: 2px solid;
  display: inline-block;
}