.yikes-mailchimp-container{
  .edit-link{
    display: none;
  }
}
.yikes-easy-mc-success-message {
  font-size: 1.2rem;
}
.easy_mc__style1{
  .yikes-easy-mc-form{
    position: relative;
    label{
      margin: 0 !important;
    }
    .yikes-easy-mc-email{
      background: #fff;
      border-width: 0 0 1px;
      border-style: solid;
      outline: none !important;
      width: 100%;
      line-height: 32px;
      padding: 5px 100px 5px 0;
      margin: 0;
      @extend %border-color;
      @extend %text-color-body;
      &:focus{
        @extend %text-color-secondary;
      }
    }
    .yikes-easy-mc-submit-button{
      border: none !important;
      background: none !important;
      margin: 0 !important;
      width: auto;
      padding: 0;
      line-height: 32px;
      position: absolute;
      top: 1px;
      right: 0;
      font-size: inherit;
      font-weight: 600;
      @extend %text-color-secondary;
      &:hover{
        @extend %text-color-primary;
      }
    }
  }
}
.easy_mc__style2{
  .yikes-easy-mc-form{
    position: relative;
    label{
      margin: 0 !important;
    }
    .yikes-easy-mc-email{
      background: none;
      border-width: 1px;
      border-style: solid;
      border-color: #fff;
      color: #fff;
      outline: none !important;
      width: 100%;
      line-height: 32px;
      padding: 25px 140px 25px 30px;
      margin: 0;
      font-size: 16px;
    }
    .yikes-easy-mc-submit-button{
      border: none !important;
      background: none !important;
      margin: 0 !important;
      width: auto;
      padding: 25px 30px;
      line-height: 32px;
      position: absolute;
      top: 1px;
      right: 0;
      font-size: 16px;
    }
  }
}
.easy_mc__style3{
  font-size: 14px;
  .yikes-easy-mc-form{
    position: relative;
    label{
      margin: 0 !important;
    }
    .yikes-easy-mc-email{
      background: #fff;
      border: none;
      outline: none !important;
      width: 100%;
      line-height: 30px;
      padding: 20px 140px 20px 30px;
      margin: 0;
      font-size: inherit;
    }
    .yikes-easy-mc-submit-button{
      border: none !important;
      background: none !important;
      margin: 0 !important;
      width: auto;
      padding: 20px 30px;
      line-height: 30px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: inherit;
      font-weight: 600;
      @extend %text-color-secondary;
      &:hover{
        @extend %text-color-primary;
      }
    }
  }
}
.easy_mc__style4{
  .yikes-easy-mc-form{
    position: relative;
    font-size: 12px;
    width: 570px;
    margin: 0 auto;
    max-width: 100%;
    label{
      margin: 0 !important;
    }
    .yikes-easy-mc-email{
      background: none;
      border-width: 0 0 1px;
      border-style: solid;
      border-color: rgba(#fff,0.4);
      outline: none !important;
      width: 100%;
      line-height: 32px;
      padding: 5px 100px 5px 0;
      margin: 0;
      color: #fff;
      &:focus{
        border-color: #fff;
      }
    }
    .yikes-easy-mc-submit-button{
      border: none !important;
      background: none !important;
      margin: 0 !important;
      width: auto;
      padding: 0;
      line-height: 32px;
      position: absolute;
      top: 1px;
      right: 0;
      font-size: inherit;
      color: #fff;
    }
  }
}


.la-newsletter-popup {
  display: none;
  max-width: 100%;
  margin-left: 50%;
  width: 50%;
  width: 360px;
  padding-left: 30px;
  #lightcase-case & {
    display: block;
  }
  .yikes-easy-mc-form{
    .yikes-easy-mc-email{
      background: #fff;
      border-width: 1px;
      border-style: solid;
      outline: none !important;
      width: 100%;
      line-height: 32px;
      padding: 8px 15px;
      margin: 10px 0 5px;
      @extend %border-color;
      @extend %text-color-body;
      &:focus{
        @extend %text-color-secondary;
      }
    }
    .yikes-easy-mc-submit-button{
      border: none;
      margin: 0 0 20px !important;
      width: 100%;
      padding: 10px 15px;
      line-height: 30px;
      color: #fff;
      @extend %background-color-secondary;
      &:hover{
        color: #fff;
        @extend %background-color-primary;
      }
    }
  }
  .lbl-dont-show-popup {
    display: block;
    text-align: left;
    margin-top: 30px;
    input {
      margin-right: 5px;
    }
  }
}

.open-newsletter-popup{
  .lightcase-inlineWrap{
    background: {
      color: #fff;
      position: 0 0;
      repeat: no-repeat;
    }
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  #lightcase-case #lightcase-content{
    overflow: visible;
  }
  .btn-close-newsletter-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.rtl{
  .la-newsletter-popup{
    padding-right: 30px;
    padding-left: 0;
    margin-right: 50%;
    margin-left: 0;
    .lbl-dont-show-popup{
      text-align: right;
    }
  }
}