			@font-face {
				font-family: 'glacial-ind-regular';
				font-style: normal;
				src: url('/wp-content/uploads/useanyfont/190822024509GLACIAL-IND-REGULAR.eot');
				src: local('glacial-ind-regular'), url('/wp-content/uploads/useanyfont/190822024509GLACIAL-IND-REGULAR.eot') format('embedded-opentype'), url('/wp-content/uploads/useanyfont/190822024509GLACIAL-IND-REGULAR.woff') format('woff');
			}
            
            .et_gf_glacial-ind-regular{background:none !important;font-family:glacial-ind-regular;text-indent:0 !important;font-size:25px;}
            
		