			@font-face {
				font-family: 'glacial-ind-regular';
				font-style: normal;
				src: url('/wp-content/uploads/useanyfont/190822024509GLACIAL-IND-REGULAR.eot');
				src: local('glacial-ind-regular'), url('/wp-content/uploads/useanyfont/190822024509GLACIAL-IND-REGULAR.eot') format('embedded-opentype'), url('/wp-content/uploads/useanyfont/190822024509GLACIAL-IND-REGULAR.woff') format('woff');
			}
            
            .glacial-ind-regular{font-family: 'glacial-ind-regular' !important;}
            
		